/* This CSS only hides the navbar */

tp-yt-app-drawer.ytd-app[persistent] {
	display: none;
}

ytd-page-manager.ytd-app {
	margin-left: 0px !important;
}

ytd-mini-guide-renderer.ytd-app,
ytd-mini-guide-renderer.ytd-app * {
	width: 0px !important;
}